MksNet/Joints/Xml/JointSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JointDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="Author" type="xs:string" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="URL" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
        <xs:element name="DegreesOfFreedom">
          <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="Free">
                  <xs:complexType>
                    <xs:attribute name="type" type="dofType" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="Locked">
                  <xs:complexType>
                    <xs:attribute name="type" type="dofType" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            <xs:attribute name="default" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="lock" />
                  <xs:enumeration value="free" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="dofType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="x"/>
      <xs:enumeration value="y"/>
      <xs:enumeration value="z"/>

      <xs:enumeration value="rotx"/>
      <xs:enumeration value="roty"/>
      <xs:enumeration value="rotz"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>