MksNet/Elements/Xml/ElementSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ElementDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="Author" type="xs:string" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="URL" minOccurs="0"/>

        <xs:element name="Properties">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="Mass">
                <xs:complexType>
                  <xs:group ref="valueExpression" />
                </xs:complexType>
              </xs:element>

              <xs:element name="Inertia">
                <xs:complexType>
                  <xs:group ref="matrixExpression" />
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Frames">
          <xs:complexType>
            <xs:sequence>

              <xs:element minOccurs="0" maxOccurs="unbounded" name="Frame">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Translation" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:group ref="vectorExpression" />
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="Rotation" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:group ref="matrixExpression" />
                      </xs:complexType>
                    </xs:element>
                  </xs:all>

                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="reference" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:group name="vectorExpression">
    <xs:choice>
      <xs:element name="Parameter">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>

      <xs:element name="Vector">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="X">
              <xs:complexType>
                <xs:group ref="valueExpression" />
              </xs:complexType>
            </xs:element>
            
            <xs:element name="Y">
              <xs:complexType>
                <xs:group ref="valueExpression" />
              </xs:complexType>
            </xs:element>

            <xs:element name="Z">
              <xs:complexType>
                <xs:group ref="valueExpression" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>

  <xs:group name="matrixExpression">
    <xs:choice>
      <xs:element name="Parameter">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>

      <xs:element name="Matrix">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Row" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="valueExpression" minOccurs="1" maxOccurs="unbounded" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>

  <!--<xs:group name="valueOrNumberExpression">
    <xs:choice>
      <xs:group ref="valueExpression" />
    </xs:choice>
  </xs:group>-->

  <xs:group name="valueExpression">
    <xs:choice>
      <xs:element name="Number" type="xs:double" />

      <xs:element name="Parameter">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>

      <xs:element name="Divide">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="valueExpression" minOccurs="2" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Multiply">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="valueExpression" minOccurs="2" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Add">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="valueExpression" minOccurs="2" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Subtract">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="valueExpression" minOccurs="2" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:choice>
  </xs:group>

</xs:schema>
